@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "Atlas Grotesk", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--serif: "Tiempos Text", Iowan Old Style, Times New Roman, Times, serif;
/* --serif: Times New Roman, Times, serif; */
--mono: Menlo, Consolas, Monaco, monospace;

/* z-index */
--z-bottom: -100;
--z-middle: 0;
--z-top: 100;
--z-overlay: 1000;

/* presets (used in reset.css) */
--border-radius: 2px;
--font-body: var(--serif);
--font-form: var(--sans);
--color-bg: var(--color-white);
--color-fg: var(--color-gray-900);
--color-primary: var(--color-black);
--color-link: var(--color-black);
--color-link-hover: var(--color-black);
--color-focus: var(--color-red);
--color-mark: var(--color-yellow);
--color-selection: var(--color-gray-300);
--color-border: var(--color-gray-300);
--color-button-bg: var(--color-gray-300);
--color-button-fg: var(--color-gray-900);
--color-button-hover: var(--color-gray-400);
--color-input-bg: var(--color-gray-50);
--color-input-fg: var(--color-gray-900);
--color-placeholder: var(--color-gray-500);
/* 	--bgcolor: #28212F; */
/* LIGHT MODE */
/* --bgcolor: #fff;
--text-bg:  #eee;
--bigtext-bg: white;
--text-color: black;
--text-note-color:  gray;
--text-link-color: red;
--quote-bg:  black;
--quote-text-color: white; */


/* DARK MODE */
--bgcolor: #201126;
--bigtext-bg: #201126;

--text-bg:  black;
--text-color: #cebcd4;

--text-note-color:  #d6b6d6;
--text-link-color: #bc75d9;



--panel-bg: #000;
--panel-text-color: white;

--button-bg: purple;
--button-text-color: white;

--person-color: black;
--person-default-bg: #cea6de;
--person-hl-color: #ffffff;


--quote-bg:  #dcbae8;
--quote-text-color: #4f3059;
--quote-hl-color: #cf63f2;
/* "1" second duration */
--1s: 1ms;
}

/* dark theme */
/* @media screen and (prefers-color-scheme:dark) {
	:root {
		
	}
} */

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

h1 {
	font-size: var(--48px, 48px);
}

h2 {
	font-size: var(--36px, 36px);
}

h3 {
	font-size: var(--28px, 28px);
}

h4 {
	font-size: var(--24px, 24px);
}

h5 {
	font-size: var(--22px, 22px);
}

h6 {
	font-size: var(--20px, 20px);
}
body {
	font-family: var(--sans) !important;
	overflow-x: clip;
}
svg {
	display: block;
	width: 100%;
	height: auto;
}

#content {
	font-family: var(--serif) !important;
	/* font-family:  var(--mono); */
background: var(--bgcolor);
/* 	color: var(--color-light); */
color: var(--text-color);
}
.visualContainer {
	position: sticky;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	margin: 0 auto;
/* 	max-width: 1400px; */
/* 	background-image:  url('assets/app/grain.png'); */
}
.textContainer {
	width: 400px;
	background: var(--text-bg);
	border: 1px solid #000;
	color: var(--text-color);
	margin: 0px auto;
	padding: 5px 20px;
	text-align: left;
	pointer-events: auto;
}

.step.time {
	font-size: 12px;
}

.sprite {
	z-index: 99;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.step {
	height: auto;
	min-height: 30px;
	padding: 0px 0;
	margin: 0vh auto;
	text-align: center;
	font-size: 17px;
	line-height: 25px;
	pointer-events: none;
}
.step.bigText {
  background: var(--bigtext-bg);
  padding: 20vh 0;
  min-height: 100vh;
  position: relative;
}
.step a {
	color: var(--text-link-color);
}
.byline a {
	color: var(--text-link-color);
	text-decoration: none;
}
/* .step.bigText.active .time {
	font-size: 15px;
	font-weight: bold;
} */

/* Top gradient - transparent to white */
.step.bigText::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 50vh;
  z-index: -1;
  background: linear-gradient(to bottom, transparent 0%, var(--bigtext-bg) 100%);
}

/* Bottom gradient - white to transparent */
.step.bigText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 50vh;
  z-index: -1;
  background: linear-gradient(to top, transparent 0%, var(--bigtext-bg) 100%);
}
.step.bigText .textContainer {
	background: var(--bigtext-bg);
	border:  none;
	color: var(--text-color);
	width: 95%;
	max-width: 620px;
}
.step.active.time, .step.active .time {
	font-weight: bold;
	font-size: 15px;
}
.step:last-child {
	padding-bottom: 80px;
	margin-bottom: 0px;
}
.step.tick {
	padding: 0;
	text-align: right;
	width: 100%;
}
.time {
	width: calc(100% - 5px);
	text-align: right;
	margin-right: 5px;
	z-index: 10;
	font-size: 11px;
	font-family: var(--mono);
	color: var(--person-default-bg);
}
/* .step p {
	padding: 1rem;
} */
.step .note {
	font-size: 12px;
	line-height: 1.3em;
	color:  var(--text-note-color);
	margin-top: 5px;
	padding: 10px 0;
}
.step .note a {
	color:  var(--text-note-color);
	text-decoration: none;
/* 	border-bottom: 1px dotted #aaa; */
}
.step span {
	padding: 0 2px;
	margin: 0 2px;
	border-radius: 2px;
	/* font-weight: bold; */
}
.step .yellow {
	background: #ede977;
	color: black;
}
.step .brown {
	background: #706267;
	/* color: black; */
}
.step .purple {
	background: #ff6bab;
	color: black;
}
.quote {
	font-family:  var(--mono);
	position: absolute;
	top: calc(100% + 10px);
	left: 50%;
	transform: translateX(-50%);
	background: var(--quote-bg);
	color: var(--quote-text-color);
	max-width: 200px;
	min-width: 100px;
	min-height:  50px;
	padding: 5px 10px 5px 5px;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
/* 	transition: all 2000ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
	transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); */
}

.quote:after {
	content: "";
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid var(--quote-bg);
	position: absolute;
	bottom: calc(100% - 2px);
	left: calc(50% - 3px);
}

.zoomed .quote {
	font-size: 9px;
}